.header__rectangle {
    border: 4px solid #3C506B;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.main__container {
    background-image: url(../images/bg-triangle.svg);
    background-size: 100% 80%;
    background-position: 0 40px;
    background-repeat: no-repeat;
    display: none;
}

.logo__image {
    max-width: 70%;
}

.rectangle__score {
    background-color: #fff;
    padding: .7rem 1.2rem;
    border-radius: .4rem;
}

.score__text {
    margin-bottom: .3rem;
    font-size: .6rem;
    text-align: center;
    color: #818BB9;
}

.score__number {
    font-size: 2.2rem;
    color: #5A566D;
    text-align: center;
}

.score__number,
.score__text {
    font-weight: bold;
}

.hands {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hands .first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hand {
    background-color: #fff;
    border-radius: 50%;
    padding: .7rem 1rem;
    cursor: pointer;
    min-width: 110px;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__container .hand {
    background-color: rgba(0, 0, 0, .2);
}

.active {
    display: block;
}

.active+.game__container {
    display: none;
}

.hand-description {
    color: #fff;
    font-weight: bold;
    font-size: .7rem;
    text-align: center;
    margin-top: 1.3rem;
}

.paper-hand {
    border: .8rem solid #5671F2;
    box-shadow: 0px 5px 2px #263A93, inset 0px 5px 3px #BABED1;
}

.scissors-hand {
    box-shadow: 0px 5px 2px #C16C1E, inset 0px 5px 3px #BABED1;
    border: .8rem solid #EAA723;
}

.rock-hand {
    box-shadow: 0px 5px 2px #A21431, inset 0px 5px 3px #BABED1;
    border: .8rem solid #DE425B;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.rules-btn {
    border: 1px solid #fff;
    border-radius: .3rem;
    padding: .6rem 1.8rem;
    background-color: transparent;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.rules-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 0%;
    height: 0%;
    border-radius: 0 0 100% 0;
    content: '';
    transition: width .3s, height .3s;
    z-index: -1;
}

.rules-btn:hover::before {
    width: 20%;
    height: 100%;
}

.rules-modal {
    position: fixed;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: max-height .3s;
}

.hidden {
    max-height: 0%;
    overflow: hidden;
}

.header__times {
    display: none;
}

.header__title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.modal {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.footer__times {
    text-align: center;
}

.header__title,
.times {
    color: #5A5F75;
}

.times {
    font-size: 2.4rem;
    cursor: pointer;
}